.my-blue-btn {
  background-color: #0052CC; /* Jira blue */
  color: white;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.my-blue-btn:hover {
  background-color: #0747A6; /* Darker blue */
}

.my-pink-btn {
  background-color: #FFC0CB; /* Pink */
  color: white;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.my-pink-btn:hover {
  background-color: #FF69B4; /* Darker pink */
}

.my-green-btn {
  background-color: #32CD32; /* Green */
  color: white;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.my-green-btn:hover {
  background-color: #228B22; /* Darker green */
}
